/* styles.css */
.iframe-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 的高宽比 */
}
.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #f00;
}

main {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #900;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
