body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #222;
    color: #fff;
}

.container {
    margin: 20px auto;
    width: 400px;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background: #ddd;
    color: #222;
    font-size: 16px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #f36;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #d63021;
}
